@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Reset tất cả margin và padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset font và line-height cho body */
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;

    color: var(--color-text);
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

/* Reset danh sách */
ol, ul {
    list-style: none;
}

/* Reset các thẻ heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

/* Reset các thẻ liên kết */
a {
    text-decoration: none;
    color: inherit;
}

/* Reset các thẻ table */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset các thẻ form */
button, input, select, textarea {
    margin: 0;
    font-size: 100%;
}

/* Reset các thẻ img */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}