<style>
    .intro-section {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
    .search-box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
</style>

<div class="container">
    <!-- <h1>Chào mừng đến với Shop App</h1>
      -->
    <div class="intro-section">
        <h1>Chào mừng đến với Shop App</h1>
        <p>Trang này là danh sách sản phẩm</p>
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm sản phẩm">
            <button class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>
</div>