<app-header></app-header>
<div class="container">
    <!-- <h1>Chào mừng đến với Shop App</h1>
      -->
    <div class="intro-section">
        <h1>Chào mừng đến với Shop App</h1>
        <p>Trang này là danh sách sản phẩm</p>
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm sản phẩm" class="form-control search-input ">
            <select class="form-select">
                <option value="1">Tất cả</option>
                <option value="2">Sản phẩm mới</option>
                <option value="3">Sản phẩm bán chạy</option>
            </select>
            <button class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="product">
                <div class="product__item">
                    <div class="product__item__image">
                        <a [routerLink]="['/products', product.id]">
                            <img src="https://images.pexels.com/photos/5614114/pexels-photo-5614114.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Product Image" class="img-fluid">
                        </a>
                    </div>
                   
                    <h3 class="product__item__name">
                        Product Name
                    </h3>
                    <p class="product__item__price">
                        <span class="product__item__price__old">100.000đ</span>
                        <span class="product__item__price__new">80.000đ</span>
                    </p>
                    <p class="product__item__description">
                        Description
                    </p>
                    <div class="product__item__rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="product__item__button">
                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn-primary">Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="product">
                <div class="product__item">
                    <div class="product__item__image">
                        <a [routerLink]="['/products', product.id]">
                            <img src="https://images.pexels.com/photos/5614114/pexels-photo-5614114.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Product Image" class="img-fluid">
                        </a>
                    </div>
                   
                    <h3 class="product__item__name">
                        Product Name
                    </h3>
                    <p class="product__item__price">
                        <span class="product__item__price__old">100.000đ</span>
                        <span class="product__item__price__new">80.000đ</span>
                    </p>
                    <p class="product__item__description">
                        Description
                    </p>
                    <div class="product__item__rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="product__item__button">
                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn-primary">Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="product">
                <div class="product__item">
                    <div class="product__item__image">
                        <a [routerLink]="['/products', product.id]">
                            <img src="https://images.pexels.com/photos/5614114/pexels-photo-5614114.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Product Image" class="img-fluid">
                        </a>
                    </div>
                   
                    <h3 class="product__item__name">
                        Product Name
                    </h3>
                    <p class="product__item__price">
                        <span class="product__item__price__old">100.000đ</span>
                        <span class="product__item__price__new">80.000đ</span>
                    </p>
                    <p class="product__item__description">
                        Description
                    </p>
                    <div class="product__item__rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="product__item__button">
                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn-primary">Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="product">
                <div class="product__item">
                    <div class="product__item__image">
                        <a [routerLink]="['/products', product.id]">
                            <img src="https://images.pexels.com/photos/5614114/pexels-photo-5614114.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Product Image" class="img-fluid">
                        </a>
                    </div>
                   
                    <h3 class="product__item__name">
                        Product Name
                    </h3>
                    <p class="product__item__price">
                        <span class="product__item__price__old">100.000đ</span>
                        <span class="product__item__price__new">80.000đ</span>
                    </p>
                    <p class="product__item__description">
                        Description
                    </p>
                    <div class="product__item__rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="product__item__button">
                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn-primary">Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="product">
                <div class="product__item">
                    <div class="product__item__image">
                        <a [routerLink]="['/products', product.id]">
                            <img src="https://images.pexels.com/photos/5614114/pexels-photo-5614114.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Product Image" class="img-fluid">
                        </a>
                    </div>
                   
                    <h3 class="product__item__name">
                        Product Name
                    </h3>
                    <p class="product__item__price">
                        <span class="product__item__price__old">100.000đ</span>
                        <span class="product__item__price__new">80.000đ</span>
                    </p>
                    <p class="product__item__description">
                        Description
                    </p>
                    <div class="product__item__rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="product__item__button">
                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn-primary">Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="product">
                <div class="product__item">
                    <div class="product__item__image">
                        <a [routerLink]="['/products', product.id]">
                            <img src="https://images.pexels.com/photos/5614114/pexels-photo-5614114.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Product Image" class="img-fluid">
                        </a>
                    </div>
                   
                    <h3 class="product__item__name">
                        Product Name
                    </h3>
                    <p class="product__item__price">
                        <span class="product__item__price__old">100.000đ</span>
                        <span class="product__item__price__new">80.000đ</span>
                    </p>
                    <p class="product__item__description">
                        Description
                    </p>
                    <div class="product__item__rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="product__item__button">
                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn-primary">Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>